
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.hK0BjNDRWErUOpwULU-lQwHaE8&pid=Api&P=0&h=220'); 
  background-size: cover; 
  background-position: center;
}

.company-info {
  margin-left: 100px;
  padding: 20px;
  text-align:center;
}

.company-info img {
  max-width: 200px;
}

.login-prompt {
  margin-right: 300px;
  padding: 30px 50px;
  background-color: #fff;
  border-radius: 10px;
  height:auto;
  font-size: 13px;
}

.login-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
}

.login-nav ul li {
  margin-right: 10px;
}

.login-nav ul li:last-child {
  margin-right: 0; 
}

.login-nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px ;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-nav ul li a:hover {
  background-color: steelblue;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 5px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  font-size: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.input-group input[type="checkbox"] {
  display: none;
}

.input-group label[for="remember-me"] {
  display: inline-block;
  margin-left: 5px; 
  cursor: pointer; 
}


.input-group input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 5px; 
}


.input-group input[type="checkbox"]:checked + label:before {
  background-color: #007bff; 
}


.input-group input[type="checkbox"] + label:after {
  content: '\2713'; 
  display: inline-block;
  color: #fff; 
  font-size: 14px; 
  line-height: 20px; 
  text-align: center; 
}


.input-group input[type="checkbox"]:checked + label:after {
  color: #fff; 
}


